[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mostlynothing
[access "refs/for/refs/*"]
	read = group user/mostlynothing
	push = group user/mostlynothing
	label-Code-Review = -2..+2 group user/mostlynothing
	label-Verified = -1..+1 group user/mostlynothing
	rebase = group user/mostlynothing
	removeReviewer = group user/mostlynothing
	submit = group user/mostlynothing
[access "refs/heads/*"]
	read = group user/mostlynothing
	create = group user/mostlynothing
	push = +force group user/mostlynothing
	pushMerge = group user/mostlynothing
[access "refs/tags/*"]
	push = group user/mostlynothing
	push = +force group user/mostlynothing
